# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### Above here was generated automatically by GitHub, below is stuff I added. - Ethan

# Config Files for EventBot
config.json
prod-config.json

# The data folder I use to store stuff data. Substituting for a proper database.
data
